<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: page_head"></head>
<body>
    <div th:replace="template :: header" ></div>

    <section class="section">
        <div class="hero fullscreen">
            <div class="hero-body">
                <div class="content">
                    <div class="text-center">
                        <h1>👋 Hello world!</h1>
                        <p th:text="'Hello, ' + ${name} + '!'" />
                        <h6 class="font-alt font-light">A webpage powered by <b>Cirrus.</b></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="template :: footer"></div>
</body>
</html>